.textbox {
	border-style: solid;
	border-width: 4px 4px 4px 4px;
	border-image: url(../assets/img/slice_textbox.png) 4 4 4 4 fill stretch;
}

input[type=text], input[type=password] {
	font-family: 'Minecraftia', Arial, sans-serif;
	font-size: 1.1em;
	background-color: transparent;
	width: 100%;
	max-width: 300px;
}

.hud-background {
	background-color: #363b48;
	opacity: 0.5;
}

/*
	SELECT
*/
.select {
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none;
	width: 158px;
	height: 21px;
	padding: 0 24px 0 8px;
	color: #fff;
	font: 12px/21px arial,sans-serif;
	background: url(../assets/img/select.png) no-repeat;
	border : none !important;
	background-position: right;
	text-indent: 0.01px;
	text-overflow: "";
	font-family: 'Minecraftia', Arial, sans-serif;
}

.select_content {
	border-style: solid;
	border-width: 8px 31px 8px 32px;
	border-image: url(../assets/img/slice_button_list_content_00.png) 8 31 8 32 fill stretch;
}

/*
	BUTTONS
*/
.button {
	font-family: 'Minecraftia', Arial, sans-serif;
	font-size: 1.1em;
	background-color: transparent;
	border-style: solid;
	border-width: 12px 33px 12px 33px;
	border-image: url(../assets/img/slice_button_00.png) 12 33 12 33 fill stretch;
	cursor: pointer;
}

.btn-small{
	background-image: url(../assets/img/button.png) 26px 33px 0px 33px;
	color: white;
	font-size: 1.1em;
	opacity: 1;
}