/* Main Style */
html,body {
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: black;
}

html {
	color: black;
}

.game_title {
	font-family: 'Minecraftia', sans-serif;
	color: white;
}

/* HUD */
#log-in {
	padding: 10px;
	bottom: 200px;
	left: 20%;
	right: 20%;
	position: absolute;
	margin: 0 auto;
}

#characters {
	padding: 10px;
	bottom: 200px;
	left: 20%;
	right: 20%;
	position: absolute;
	margin: 0 auto;
	display: none;
}

#deleteCharacter {
	display: none;
}

#useCharacter {
	display: none;
}

#characterCreation {
	display: none;
}

.error {
	font-family: 'Minecraftia', sans-serif;
	color: red;
}